extends layout

block content
  h1= title
  - let costumes = [{costume_type:"Gamer Costumes", costume_name:"8-Ball", units:15},{costume_type:"Superhero Costumes", costume_name:"Superman", units:10},{costume_type:"Disney Costumes", costume_name:"Minnie Mouse", units:5}]
    